*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
    flex-shrink: 0;
}








.conteiner{
    max-width: 1200px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.conteinerH{
    max-width: 1200px;
    margin: auto;
}








img{
    width: 100%;
}


.flex{
    display: flex;
}

.colum{
    flex-direction: column;
}


.h-100{
    height: 100vh;
}

.wrap{
    flex-wrap: wrap;
}


.shrink{
    flex-shrink: ;
}

.margin-top{
    margin-top: 50px;
}

.margin-bottom{
    margin-bottom: 50px;
}




/* ----header---- */

header{
    height: 80px;
    background-color: orange;
    
}




#Logo{
    width: calc(100% / 3);
}

#Logo img{
    width: auto;
    height: 75px;
}


/* -----main---- */

main{
    flex-grow: 1;
    background-color: rgb(241, 241, 241);
}


.card{
    width: calc(100% / 3);
    /* background-color: blue; */
    flex-shrink: 0;
    position: relative;
    
     

    padding: 0 10px;
}

.card img{
    height: 88%;
    
    
}


.info{
    /* background-color: cadetblue; */
}


.bollini{
    position: absolute;
    bottom: 20%;
    left: 10px;

    color: white;
}

.Rosso{
    padding: 5px;
    background-color: rgb(207, 0, 0);
}

.Verde{
    padding: 5px;
    background-color: rgb(0, 216, 90);
}

.Cuore{
    position: absolute;
    top: 30px;
    right: 10px;

    padding: 5px 15px;
    background-color: white;
}







footer{
    height: 75px;
    background-color: rgb(41, 34, 70);
}



