*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
header{
    width: 100vw;
    height: 6vh;
    background-color: orange;
}


.header-content{
    width: 60%;
    height: 100%;
    background-color: rgb(160, 104, 0);
    margin: auto;
}

/* --------Main------ */
.conteiner{
    width: 100vw;
    height: 130vh;
    /* background-color: rgb(0, 167, 167); */
    margin-top: 50px;
}


.content-conteiner{
    width: 60%;
    height: 100%;
    /* background-color: rgb(0, 17, 167); */
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.riga-1, .riga-2{
    width: 100%;
    height: 50%;
    /* background-color: rgb(103, 0, 199); */
    display: flex;
    justify-content: space-between;
    position: relative;
    
}

.riga-1 img, .riga-2 img{
    max-height: 85%;
}

.foto1{
    position: relative;
}


/* ---Elementi e colori--- */

.red{
    color: red;
}



.Vecchio{
    text-decoration: line-through;
    color: rgb(46 46 46 / 88%);
}



.bollino-rosso{
    padding: 2px;
    background-color: rgb(201, 0, 0);
    position: absolute;
    bottom: 22%;  
}



.bollino-verde1{
    padding: 2px;
    background-color: rgb(0, 206, 62);
    position: absolute;
    bottom: 22%;

}



.bollino-verde2{
    padding: 2px;
    background-color: rgb(0, 206, 62);
    position: absolute;
    bottom: 22%;
    left: 13%; 
}

.Cuore{
    padding: 7px;
    background-color: aliceblue;
    position: absolute;
    top: 12px;
    right: 0;
}


.foto1 p, .foto2 p{
    text-decoration: none;
    color: rgb(48, 48, 48);
}

.foto1 a, .foto2 p{
    text-decoration: none;
    color: rgb(0, 0, 0);
}






.foto1:hover .Cuore{
    color: red;
}


/* ---Elementi e colori END--- */

/* --------Main END------ */