*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
    flex-shrink: 0;
}






/* Conteiner */

.conteiner{
    max-width: 1200px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.conteinerH{
    max-width: 1200px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}


.lin{
    line-height: px;
}

.Icon.mar{

}

.Icon{
    line-height: 75px;
}

/* Conteiner END */


.Hover{
    position: absolute;
    top: 0px;
    right: 0px;
    visibility: hidden;
    padding: 0px 10px;


}


.card:hover .Hover{
    visibility: visible;
}




/* Utility */

img{
    width: 100%;
}


.flex{
    display: flex;
}

.colum{
    flex-direction: column;
}


.h-100{
    height: 100vh;
}

.wrap{
    flex-wrap: wrap;
}


.shrink{
    flex-shrink: ;
}

.margin-top{
    margin-top: 50px;
}

.margin-bottom{
    margin-bottom: 50px;
}

/* Utility END */


/* ----header---- */

header{
    height: 80px;
    background-color: #ff6900;
    
}




#Logo{
    height: 50px;
}

#Logo img{
    width: auto;
    height: 50px;
}


/* -----main---- */

main{
    flex-grow: 1;
    background-color: rgb(241, 241, 241);
}


.card{
    width: calc(100% / 3);
    position: relative;
    padding: 0 10px;
}

.card img, .Hover img{
    height: 88%;
}


/* Bollini */

.bollini{
    position: absolute;
    bottom: 20%;
    left: 10px;

    color: white;
}

.Rosso{
    padding: 5px;
    background-color: rgb(207, 0, 0);
}

.Verde{
    padding: 5px;
    background-color: rgb(0, 216, 90);
}

.Cuore{
    position: absolute;
    top: 30px;
    right: 10px;

    padding: 5px 15px;
    background-color: white;
}

.card:hover .Cuore{
    color: red;
}

/* Bollini END */

/* ---Footer--- */


footer{
    height: 100px;
    background-color: #1a1a1a;
}



